
div.task {
    border: 2px black solid;
    box-sizing: border-box;
    padding: 30px;
    background-color: #ddf;
    width: min(600px, 60vw);
    margin: 0 auto;
}
div.task {
    margin-top: 30px;
}
div.task * {
    margin: 0;
}
div.task hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
div.task div.top-row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
div.task div.button-row {
    height: 30px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    border: none;
}
div.button-row > * {
    height: 70%;
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
div.task input[type="checkbox"].task-checkbox {
    aspect-ratio: 1/1;
}
div.task button.task-delete {
    border: none;
    padding: 0;
    background-color: transparent;
}
div.task button.task-delete img {
    height: 100%;
}
div.task a.edit-link {
    text-decoration: none;
}
div.task.completed {
    opacity: 50%;
}
