<div class="tasklist">
    <div *ngFor="let task of tasklist; let id = index;">
        <app-task
        [id]="id"
        [title]="task.title"
        [description]="task.description"
        [isChecked]="task.isChecked"
        (changeEvent)="update($event)"
        (deleteEvent)="delete($event)"
        />
    </div>
    <div id="create">
        <div id="title-input-row">
            <input #titleInput type="text" placeholder="New task">
            <button (click)="addTask(titleInput.value, descriptInput.value)">Create</button>
        </div>
        <textarea #descriptInput rows="5" placeholder="description"></textarea>
    </div>
    
</div>
