/*  task list styles  */
div.content {
    padding: 100px 15vw;
}
div.task {
    border: 2px black solid;
    box-sizing: border-box;
    padding: 30px;
    background-color: #ddf;
    width: min(600px, 60vw);
    margin: 0 auto;
}
div.task + div.task {
    margin-top: 30px;
}
div.task * {
    margin: 0;
}
div.task hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
div.task div.top-row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
div.task input[type="checkbox"].task-checkbox {
    height: 70%;
    aspect-ratio: 1/1;
}
div.task a.edit-link {
    text-decoration: none;
}
div.task.completed {
    opacity: 50%;
}
div.hide-completed div.task.completed {
    display: none;
}
div#create {
    width: min(600px, 60vw);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
}
div#create input[type="text"] {
    padding: 0.5em;
    font: inherit;
    width: calc(min(600px, 60vw) - 100px);
    display: block;
}
div#create button {
    padding: 0.5em;
    font: inherit;
    background-color: #0d6efd;
    color: white;
    display: block;
    cursor: pointer;
    border: none;
}
div.tasklist .completed {
    background-color: red;
    font-family: Courier New;
    display: none;
}
