<div class="tasklist">
    <!-- <div class="task">
        <div class="top-row">
            <a href="history_homework.html" class="edit-link">
                <h2>History Homework</h2>
            </a>
            <input class="task-checkbox" type="checkbox">
        </div>
        <hr>
        <p>ABCSS Prelim 2022 Paper 1 Timed Practice</p>
    </div> -->
    <app-task/>
    <!-- <div class="completed task">
        <div class="top-row">
            <a href="#" class="edit-link">
                <h2>Sweep the Floor</h2>
            </a>
            <input class="task-checkbox" type="checkbox" checked>
        </div>
        <hr>
        <p></p>
    </div> -->
    <div id="create">
        <input type="text" placeholder="New task">
        <button>Create</button>
    </div>    
</div>
<!-- 
<div *ngFor="let task of [tasklist]" [task]="task">
    <app-task
    [title]="task.title"
    [description]="task.description"
    />
    
</div> -->
