div.task {
    border: 2px black solid;
    box-sizing: border-box;
    padding: 30px;
    background-color: #ddf;
    width: min(600px, 60vw);
    margin: 0 auto;
}
div.task + div.task {
    margin-top: 30px;
}
div.task * {
    margin: 0;
}
div.task hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
div.task div.top-row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
div.task input[type="checkbox"].task-checkbox {
    height: 70%;
    aspect-ratio: 1/1;
}
div.task a.edit-link {
    text-decoration: none;
}
div.task.completed {
    opacity: 50%;
}
.hidden {
    display: none;
}

.delete {
    padding: 0.35em;
    font: inherit;
    background-color: red;
    color: white;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}