<div class="task" [ngClass]="{ 'completed': isCompleted(todoItem.title), 'hidden': hideCompleted && isCompleted(todoItem.title) }" *ngFor="let todoItem of items">
    <div class="top-row">
        <a href="history_homework.html" class="edit-link">
            <h2>{{todoItem.title}}</h2>
        </a>
        <input [checked]="todoItem.done" class="task-checkbox" type="checkbox" (click)="toggleCompleted($event, todoItem.title)">
    </div>
    <hr>
    <div class="bottom-row">
        <p>{{todoItem.description}}</p>
        <!-- <button class="edit" (click)="navigateToEdit(todoItem.title)">Edit</button> -->
        <button class="edit"><a [routerLink]="['/edit', todoItem.title]">Edit</a></button>
        <button class="delete" (click)="deleteItem(todoItem.title)">Delete</button>
    </div>
</div>